# dependencies
node_modules/
.pnpm/
.vite/
dist/
build/

# local env files
.env
.env.local
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# misc
*.log
*.cache
*.tmp
